.menu {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu .xy-theme__button {
  height: 40px;
  width: 150px;
}

.menu .xy-theme__button + .xy-theme__button {
  margin-left: 0;
}

.menu .xy-theme__label {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: var(--color-primary);
}